Django>=5.2,<6
celery[redis]>=5.5,<6
django-cors-headers>=4.9,<5
firebase-admin>=7.4,<8
gunicorn>=23,<24
openpyxl>=3.1,<4
Pillow>=11,<12
psycopg[binary]>=3.2,<4
python-dotenv>=1.1,<2
whitenoise>=6.12,<7
