{% extends "email_templates/base_email.html" %}
{% block subject %}Response to support ticket #{{ ticket_id }}{% endblock %}
{% block preheader %}The support team has responded to your request.{% endblock %}
{% block accent %}linear-gradient(135deg,#155e40,#24a36a){% endblock %}
{% block heading %}Support Team Response{% endblock %}
{% block subtitle %}There is an update on your support request.{% endblock %}
{% block content %}
<p class="greeting">Hello {{ requester_name }},</p>
<p class="copy">Our support team has responded to the request submitted by {{ institute_name }}.</p>
<table role="presentation" class="panel" width="100%">
  <tr><td class="label">Ticket number</td><td class="value">#{{ ticket_id }}</td></tr>
  <tr><td class="label">Subject</td><td class="value">{{ ticket_subject }}</td></tr>
  <tr><td class="label">Status</td><td class="value">{{ ticket_status }}</td></tr>
  {% if responded_at %}<tr><td class="label">Responded on</td><td class="value">{{ responded_at|date:"d M Y, h:i A" }}</td></tr>{% endif %}
</table>
<div class="message"><strong>Support response</strong><br><br>{{ admin_response|linebreaksbr }}</div>
{% if ticket_url %}<div class="button-wrap"><a class="button" href="{{ ticket_url }}">Open support ticket</a></div>{% endif %}
{% endblock %}
